doctype html
html
    head
        link(rel="shortcut icon" href="")
        link(href="./externalStylesheet/introjs.css" rel="stylesheet")
        link(href="./externalStylesheet/introjs-modern.css" rel="stylesheet")

        script(src="./externalJS/intro.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://d3js.org/d3.v4.min.js")
        script(src="https://js.arcgis.com/3.25/")
        script(src='./externalJS/multithread.js')
        script(src = './javascripts/table.js')
        script(src = './javascripts/fct_version_info.js')
        script(src="./vendor/terraformer/terraformer.min.js")
        script(src="./vendor/terraformer-arcgis-parser/terraformer-arcgis-parser.min.js")

        title= "Trip Cluster Tool"
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/blitzer/jquery-ui.css" type="text/css")
        link(rel="stylesheet" href="http://js.arcgis.com/3.25/esri/css/esri.css" type="text/css")
        link(rel="stylesheet" href="http://js.arcgis.com/3.25/dijit/themes/claro/claro.css")

        //line(rel="stylesheet" href="/stylesheets/hopscotch.min.css")

    body
        block content

          h1(id = 'title' )
          input(id='tour' type="button" value='Take A Tour')

          div(id = "map")
            div(id="viewDiv")
          div(id = "legendDiv")
            fieldset(data-role='controlgroup')
              legend Legend

              div(id = "arrow-left2" class="clustered-line arrow-left2")
              div(class = "clustered-line" id = "clustered-line")
                Thing Clustered flow
              br
              input(type = "text",id="circleOrigin")
              Thing Origin point
              br
              input(type = "text",id="circleDest")
              Thing Destination point
              br

          div(id = "blockContainer")
            div(id="infoDiv")
              div(id = "containerw")

                div(class = "controlPanel" data-role='fieldcontain')
                  fieldset(data-role='controlgroup')
                    label(for='clusters') Number Of Clusters:
                       input(id='clusters',type='text',value='',name='clusters' size="2")
                       //Set the default cluster number to 30
                       input(type="range" min="5" max="100" value="30"  id="clusterRange")
                       input( type="Button" id = "RerunButton" value="Run again ")
                div(class = "controlPanel")
                  fieldset(data-role='controlgroup')
                    label(for='clusters') Current Iteration:
                      input(type = "integer", id = "currentIteration" value = "0" name = "iteration" size="2")
                      input( type = "button" id = "nextIteration" value = "Run next iteration")
                      label(class="switch")
                         input(type="checkbox" id = "autoRun")
                         span(class="slider")
                div(class = "controlPanel")
                    fieldset(data-role='radiogroup')
                        label(for='clusters') Data Set:
                            input(type="radio" class='dataset' name="allOrTransit" id="all" value='all' checked)
                            Thing All
                            input(type="radio" class='dataset' name="allOrTransit" id="transit" value='transit')
                            Thing Transit


            div(id = "flowDiv")
              table(id = "flowTable" border="1" class="table table-bordered table-condensed table-striped table-hover")
            div(id="wait" style="display:none;width:69px;height:89px; solid black;position:absolute;top:50%;left:50%;padding:2px;")
                img(src='./images/loading.gif' width="64" height="64")
                Thing Loading...
          script(type="text/javascript" src="/javascripts/main.js")
          script.
              //console.log($('#map').attr('id'))
              //pass data to frontend from backend
              var user = !{JSON.stringify(title)};
              //var luz_data = !{JSON.stringify(luz_data)};
